.adicionar-produto {
    background-color: var(--cor-cinza-fundo);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.adicionar-produto__formulario {
    width: 44rem;
}

.adicionar-produto__titulo {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin-bottom: 1rem;
}

.container__adicionar-imagem {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: auto;
}

.adicionar-imagem__drag-and-drop--input {
    display: none;
}

.adicionar-imagem__drag-and-drop {
    background-color: var(--cor-branco);
    background-image: url(../img/icones/icone-upload.svg);
    background-position: center 25%;
    background-repeat: no-repeat;
    border: 1px dashed var(--cor-cinza-box-shadow);
    display: inline-block;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
}

.adicionar-imagem__drag-and-drop.active {
    background-color: var(--cor-cinza-);
    border: 1px solid var(--cor-cinza-box-shadow);
}

.adicionar-imagem__drag-and-drop img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.container__adicionar-imagem span {
    margin: .75rem;
}

.adicionar-imagem__dispositivo {
    align-items: center;
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 600;
    height: 3.0625rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 14.0625rem;
}

.adicionar-imagem__dispositivo:hover {
    background-color: var(--cor-hover-botao-transparente);
    transition: 0.3s;
}

.adicionar-imagem__dispositivo--input {
    display: none;
}

.container__campo {
    background-color: var(--cor-branco);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: .5rem 0;
    position: relative;
}

.campo__seletor--label {
    position: relative;
    overflow: hidden;
}

.campo__seletor--label:active::after {
    color: var(--cor-cinza-claro);
    position: absolute;
    left: .75rem;
    top: 1.25rem;
    transition: all .25s;
}

.campo__seletor--select {
    background-color: var(--cor-branco);
    border-bottom: 1px solid var(--cor-cinza-box-shadow);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    color: var(--cor-cinza-padrao);
    display: inline-block;
    height: 4.5rem;
    padding: 1.5rem .75rem 1.25rem .5rem;
    transition: all .25s;
    width: 100%;
}

.campo__seletor--select option {
    color: var(--cor-cinza-padrao);
}

.campo__seletor--select:focus {
    box-shadow: none;
    outline: 0;
}

.campo__seletor--select::after {
    position: absolute;
}

.campo__seletor--titulo {
    color: var(--cor-cinza-claro);
    position: absolute;
    top: 2.75rem;
    transition: all .25s;
}

select[data-select]+ .campo__seletor--titulo {
    color: var(--cor-cinza-claro);
    font-size: .75rem;
    left: 0;
    padding: 0 .75rem;
    opacity: 1;
    top: .65rem;
    transition: all .25s;
}

.campo__entrada {
    border-bottom: 1px solid var(--cor-cinza-box-shadow);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    height: 3.5rem;
    padding: 1.5rem 0.75rem .25rem 0.75rem;
    width: 100%;
}

.campo__entrada::placeholder {
    visibility: hidden;
    color: #00000000;
}

.campo__entrada:focus {
    outline: none;
}

.campo__label {
    color: var(--cor-cinza-claro);
    position: absolute;
    left: .75rem;
    top: 1.25rem;
    transition: all .25s;
}

.campo__entrada:not(:placeholder-shown) + .campo__label, .campo__entrada:focus + .campo__label {
    font-size: .75rem;
    top: .65rem;
    transition: all .25s;
}

.campo__entrada--descricao {
    height: 5.125rem;
    resize: none;
}

.campo__invalido .campo__seletor--select {
    border: 1px solid var(--cor-erro);
}

.campo__invalido .campo__entrada {
    border: 1px solid var(--cor-erro);
}

.adicionar-produto__botao {
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    color: var(--cor-branco);
    font-weight: 400;
    height: 3.1875rem;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .adicionar-produto {
        display: flex;
        justify-content: center;
        padding: 2.5rem 2rem 2rem;
    }
    
    .container__adicionar-imagem {
        flex-direction: row;
        width: 44rem;
    }

    .adicionar-imagem__dispositivo {
        width: 20.3125rem;
    }
}

@media screen and (min-width: 1440px) {
    
    .adicionar-produto {
        padding: 4rem 0;
        /* width: 34.9375rem; */
    }

    .adicionar-produto__titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .adicionar-imagem__drag-and-drop {
        padding: 5rem 2rem 2rem 2rem;
    }

    .adicionar-imagem__dispositivo {
        font-size: 1rem;
        font-weight: 400;
        height: 3.5rem;
        width: 26.5625rem;
    }
}
