.rodape {
    background-color: var(--cor-azul-claro);
}

.container__rodape {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* Logo + Lista de links */
.container__logo-lista {
    margin-bottom: 1rem;
}

.rodape__logo {
    margin-bottom: 1rem;
    height: 3.125rem;
    width: 11rem;
}

.rodape__lista {
    margin-bottom: 1rem;
}

.lista__item {
    margin-bottom: 1rem;
    text-align: center;
}

.lista__link {
    color: var(--cor-cinza-padrao);
    font-weight: 500;
    text-decoration: none;
}

/* Contato */
.rodape__contato {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contato__titulo {
    font-weight: 700;
}

.container__contato {
    background-color: var(--cor-branco);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: .5rem 0;
    position: relative;
}

.container__contato--nome {
    margin-bottom: 1rem;
}

.input__conteudo {
    background-color: var(--cor-branco);
    border-bottom: 1px solid var(--cor-cinza-box-shadow);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    width: 100%;
}

.input__conteudo::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input__conteudo:focus {
    outline: none;
}

.input__conteudo--nome {
    height: 3.5rem;
    padding: 1.5rem 0.75rem .25rem 0.75rem;
}

.input__label {
    color: var(--cor-cinza-claro);
    position: absolute;
    left: .75rem;
    top: 1.25rem;
    transition: all .25s;
}

.input__conteudo:not(:placeholder-shown) + .input__label, .input__conteudo:focus + .input__label {
    font-size: .75rem;
    top: .65rem;
    transition: all .25s;
}

.input__conteudo--mensagem {
    height: 5.25rem;
    padding: 2rem 0.75rem .25rem 0.75rem;
    resize: none;
}

.campo__invalido .input__conteudo {
    border: 1px solid var(--cor-erro);
}

.formulario__botao {
    height: 2.5rem;
    width: 9.44rem;
}

/* Desenvolvedor */
.rodape__desenvolvedor {
    align-items: center;
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.rodape__desenvolvedor--nome, .rodape__desenvolvedor--ano {
    font-weight: 500;
    padding-bottom: 3px;
}

@media (min-width: 768px) {

    .container__rodape {
        align-items: flex-start;
        flex-direction: row;
        padding: 2rem 2rem 1rem 2rem;
    }

    .container__logo-lista {
        margin-bottom: 0;
        padding-right: 6rem;
    }
    
    .rodape__lista {
        margin-bottom: 1rem;
    }
    
    .lista__item {
        margin-bottom: 1.5rem;
        text-align: left;
    }
}

@media (min-width: 1360px) {
    
    .container__rodape {
        padding: 4rem 9rem 2rem;
    }
    
    .container__logo-lista {
        display: flex;
        flex-direction: row;
        padding-right: 0;
    }
    
    .rodape__logo {
        margin-right: 7.5rem;
    }
    
    .rodape__lista {
        margin-right: 7.5rem;
        width: 10.8rem;
    }
    
    .lista__item {
        margin-bottom: 1.75rem;
    }

    .rodape__contato {
        width: 50%;
    }
    
    .formulario__botao {
        height: 3.1875rem;
        width: 10.3125rem;
    }
}
