.rodape {
    background-color: var(--cor-azul-claro);
}

.rodape__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* Logo + Lista de links */
.rodape__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem
}

.rodape__logo {
    height: 3.125rem;
    width: 11rem;
}

.rodape__lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rodape__lista--item {
    text-align: center;
}

.rodape__lista--link {
    color: var(--cor-cinza-padrao);
    font-weight: 500;
    line-height: 1.1875rem;
    text-decoration: none;
}

/* Contato */
.rodape__contato {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario__titulo {
    font-weight: 700;
}

.contato__caixa {
    background-color: var(--cor-branco);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: .5rem 0;
    position: relative;
}

.contato__caixa--nome {
    margin-bottom: 1rem;
}

.contato__input {
    background-color: var(--cor-branco);
    border-bottom: 1px solid var(--cor-cinza-box-shadow);
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    width: 100%;
}

.contato__input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.contato__input:focus {
    outline: none;
}

.contato__input--nome {
    height: 3.5rem;
    padding: 1.5rem 0.75rem .25rem 0.75rem;
}

.contato__label {
    color: var(--cor-cinza-claro);
    position: absolute;
    left: .75rem;
    top: 1.25rem;
    transition: all .25s;
}

.contato__input:not(:placeholder-shown) + .contato__label, .contato__input:focus + .contato__label {
    font-size: .75rem;
    top: .65rem;
    transition: all .25s;
}

.contato__input--mensagem {
    height: 5.25rem;
    padding: 2rem 0.75rem .25rem 0.75rem;
    resize: none;
}

.campo__invalido .contato__input {
    border: 1px solid var(--cor-erro);
}

.formulario__botao {
    height: 2.5rem;
    width: 9.44rem;
}

/* Desenvolvedor */
.rodape__desenvolvedor {
    align-items: center;
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.rodape__desenvolvedor--nome, .rodape__desenvolvedor--ano {
    font-weight: 500;
    padding-bottom: 3px;
}

@media (min-width: 768px) {

    .rodape__container {
        align-items: flex-start;
        flex-direction: row;
        padding: 2rem;
    }

    .rodape__conteudo {
        margin-bottom: 0;
        padding-right: 6rem;
    }
    
    .rodape__lista {
        gap: 1.5rem
    }
    
    .rodape__lista--item {
        text-align: left;
    }
}

@media (min-width: 1360px) {
    
    .rodape__container {
        padding: 4rem 9.5rem;
    }
    
    .rodape__conteudo {
        flex-direction: row;
        gap: 0;
        padding-right: 0;
        margin-right: 7.5rem;
    }
    
    .rodape__logo {
        margin-right: 7.5rem;
    }
    
    .rodape__lista {
        width: 10.8rem;
    }

    .rodape__contato {
        width: 50%;
    }
    
    .formulario__botao {
        height: 3.1875rem;
        width: 10.3125rem;
    }
}
