@import url(reset.css);
@import url(cabecalho.css);
@import url(banner.css);
@import url(produtos.css);
@import url(rodape.css);
@import url(login.css);
@import url(menu-admin.css);
@import url(adicionar-produto.css);
@import url(detalhes-produto.css);

:root {
    --fonte-padrao: 'Raleway', sans-serif;
    --cor-azul: #2A7AE4;
    --cor-azul-claro: #EAF2FD;
    --cor-azul-opaco: #5595E9;
    --cor-branco: #FFFFFF;
    --cor-erro: #DF2525;
    --cor-cinza-box-shadow: #C8C8C8;
    --cor-cinza-claro: #A2A2A2;
    --cor-cinza-fundo: #F5F5F5;
    --cor-cinza-padrao: #464646;
    --cor-hover-botao-opaco: #5595E9;
    --cor-hover-botao-transparente: #D4E4FA;
    --cor-sucesso: #08a02e;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-branco);
    color: var(--cor-cinza-padrao);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.botao {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.botao__transparente {
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    font-size: .875rem;
    font-weight: 600;
}

.botao__transparente:hover {
    background-color: var(--cor-hover-botao-transparente);
    transition: 0.3s;
}

.botao__opaco {
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    color: var(--cor-branco);
    font-size: .875rem;
    font-weight: 600;
}

.botao__opaco:hover {
    background-color: var(--cor-hover-botao-opaco);
    border-color: var(--cor-hover-botao-opaco);
    transition: 0.3s;
}

.campo__invalido {
    background-color: inherit;
    margin-bottom: 0.5rem;
}

.campo__erro {
    display: none;
}

.campo__invalido .campo__erro {
    background-color: inherit;
    color: var(--cor-erro);
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    justify-content: center;
    margin: .5rem 0;
}

.campo__aviso {
    transition: .5s;
    visibility: hidden;
}

.campo__aviso--sucesso {
    align-items: center;
    background-color: var(--cor-branco);
    border: 2px solid var(--cor-sucesso);
    border-radius: .5rem;
    color: var(--cor-sucesso);
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    margin: 1rem 0;
    visibility: visible;
}

.esconder {
    display: none;
}

.mostrar {
    display: flex;
}

/* @media screen and (min-width: 768px) {
    
} */

@media screen and (min-width: 1360px) {
    
    .botao__transparente {
        font-size: 16px;
        font-weight: 400;
    }

    .botao__opaco {
        font-size: 16px;
        font-weight: 400;
    }
}
