@import url(cabecalho.css);
@import url(banner.css);
@import url(produtos.css);
@import url(rodape.css);
@import url(cabecalho.css);
@import url(login.css);
@import url(todos-produtos.css);
@import url(adicionar-produto.css);

:root {
    --fonte-padrao: 'Raleway', sans-serif;
    --cor-azul: #2A7AE4;
    --cor-azul-claro: #EAF2FD;
    --cor-azul-opaco: #5595E9;
    --cor-branco: #FFFFFF;
    --cor-cinza-box-shadow: #C8C8C8;
    --cor-cinza-claro: #A2A2A2;
    --cor-cinza-fundo: #F5F5F5;
    --cor-cinza-padrao: #464646;
    --cor-hover-botao-opaco: #5595E9;
    --cor-hover-botao-transparente: #D4E4FA;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-branco);
    color: var(--cor-cinza-padrao);
    font-family: var(--fonte-padrao);
    font-size: 16px;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.botao {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.botao__transparente {
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    font-size: 14px;
    font-weight: 600;
    height: 38px;
}

.botao__transparente:hover {
    background-color: var(--cor-hover-botao-transparente);
    transition: 0.3s;
}

.botao__opaco {
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    color: var(--cor-branco);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 38px;
}

.botao__opaco:hover {
    background-color: var(--cor-hover-botao-opaco);
    transition: 0.3s;
}

@media screen and (min-width: 768px) {
    
    .botao__transparente {

    }

    
}

@media screen and (min-width: 1440px) {
    
    .botao__transparente {
        font-size: 16px;
        font-weight: 400;
        height: 49px;
    }

    .botao__opaco {
        font-size: 16px;
        font-weight: 400;
        height: 49px;
    }
}
